body{
    color: black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    display: flex ;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    text-transform: uppercase;
    padding: 16px;
}
.logo{
   height: 20px; 
    width: 20px;
}